{% extends '@App/user_base.html.twig' %}

    {% block title %} {{ parent() }} Vaccin {% endblock %}
  {% block main %}


      <div class="">
          <div class="page-title">
              <div class="title_left">
                  <h3>Formulaire d'édition de vaccin </h3>
              </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                      <div class="x_title">
                          <h2><i class="fa fa-bars"></i> Parametre <small>User panel</small></h2>
                          <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                  <ul class="dropdown-menu" role="menu">
                                      <li>
                                      <a href="{{ path('enfant_index') }}">LISTE ENFANT</a>
                                      </li>
                                      <li><a href="{{ path('listuser') }}"> LISTE EMPLOYE</a>
                                      </li>
                                      <li><a href="{{ path('vaccin_new') }}"> ADJOUTER VACCIN</a>
                                      </li>
                                  </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                          </ul>
                          <div class="clearfix"></div>
                      </div>

                      <div class="x_content">

    {{ form_start(edit_form,{'attr':{'class': 'form-horizontal form-label-left', 'novalidate': 'novalidate','id':'sendform'}}) }}

                          <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email"> <span class="required" required="required"></span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                  {{ form_row(edit_form.name,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Ex : NOM'}}) }}
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email"> <span class="required" required="required"></span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                  {{ form_row(edit_form.timeintervale,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Ex : NOM'}}) }}
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email"> <span class="required" required="required"></span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                  {{ form_row(edit_form.libele,{'attr':{'class':'form-control col-md-7 col-xs-12','placeholder':'Ex : NOM'}}) }}
                              </div>
                          </div>
        <input class="btn btn-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

                      </div>
                  </div>
              </div>
          </div>
      </div>
  {% endblock %}
{% block javascripts %}



    <script>


    </script>
{% endblock %}
