{% extends '@App/user_base.html.twig' %}

    {% block title %} {{ parent() }} Bienvenue {% endblock %}
  {% block main %}
    <h1>Activite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>Datedebute</th>
                <td>{% if activite.datedebute %}{{ activite.datedebute|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if activite.datefin %}{{ activite.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('activite_edit', { 'id': activite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
