{% extends '@App/user_base.html.twig' %}

{% block title %} {{ parent() }} Consulter Utilisateurs {% endblock %}
{% block main %}
    <h1>Lienfamilliale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lienfamilliale.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lienfamilliale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lienfamilliale_edit', { 'id': lienfamilliale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
