<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title id="title"> Crèche Recré | resetting </title>

    <!-- Bootstrap -->
    <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{  asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{  asset('css/nprogress.css') }}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{{  asset('css/animate.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{  asset('css/custom.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form  id="login_form" action="{{ path('resetting') }}" method="post" >
                    <h1>mot de passe</h1>
                    {% for message in app.session.flashBag.get('message') %}
                        <div >
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div>
                        <input type="text" id="email" name="data[email]" class="form-control" placeholder="Entrez votre email" required />
                    </div>
                    <div style="margin-left: 25%">
                        <!--a id="submit" class="btn btn-primary submit" href="#">Connexion</a--->
                        <input type="submit"  class="btn btn-primary " value="Connexion">
                    </div>



                    <div class="clearfix"></div>

                        <p class="change_link">Déjà membre ?
                            <a href="{{ path('login') }}" class="to_register" id="title_login"> S'identifier </a>
                        </p>

                        <div class="clearfix"></div>
                        <p class="change_link">
                            <a href="{{ path('register') }} " class="to_register" id="title_register"> Créer un compte </a>
                        </p>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1><img src="{{ asset('favicon.jpg') }}" width="40" height="40"/> Crèche Recré</h1>
                            <p>©2018 All Rights Reserved. Crèche Recré</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
</body>
</html>

<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
</body>
</html>
