<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title id="title"> Crèche Recré | S'identifier </title>

  <!-- Bootstrap -->
  <link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{{  asset('css/font-awesome.min.css') }}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{{  asset('css/nprogress.css') }}" rel="stylesheet">
  <!-- Animate.css -->
  <link href="{{  asset('css/animate.min.css') }}" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="{{  asset('css/custom.min.css') }}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.jpg') }}" />

  <link href="{{ asset('vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendors/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ asset('style.css') }}" rel="stylesheet">

  <style>

    body {
      background-image: url("{{ asset('images/background-2633962_960_720.jpg') }}");

    }
  </style>
</head>

<body >
<div id="preloader">
  <div class="refresh-preloader"><div class="preloader"><i>.</i><i>.</i><i>.</i></div></div>
</div>
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="panel login_content">
        <form class="panel-body" id="login_form" action="{{ path('login') }}" method="post" >
        <h1 >Connectez vous</h1>

            {% for message in app.session.flashBag.get('message') %}
              <div >
                  {{ message }}
              </div>
            {% endfor %}


          <span class="red">{% if error != "" %} {{ error.messageKey|trans}} {% endif %}</span>
          <div>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Identifiant" required />
          </div>
          <div>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required />
          </div>
          <div style="margin-left: 25%">
            <!--a id="submit" class="btn btn-primary submit" href="#">Connexion</a--->
            <input type="submit"  class="btn btn-primary " value="Connexion">
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Nouveau sur le site?
              <a href="{{ path('register') }} " class="to_register" id="title_register"> Créer un compte </a>
            </p>
            <p class="change_link">
              <a href="{{ path('resetting') }} " class="reste" id="title_reste"> mot de passe perdu?</a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><img src="{{ asset('images/favicon.jpg') }}" width="40" height="40"/> Crèche Recré</h1>
              <p>©2018 All Rights Reserved. Crèche Recré</p>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div id="register" class="animate form registration_form">
      <section class="login_content">
        <form id="register_form" action="{{ path('register') }}" method="post">
          <h2>Inscrivez vous</h2>
          <div class="row">
            <div class="col col-lg-6">
              <div ><input type="text" id="user_lastName" name="user[lastName]" required="required" placeholder="Nom de famille" class="form-control" /></div>
            </div>
            <div class="col col-lg-6">
              <div ><input type="text" id="user_firstName" name="user[firstName]" required="required" placeholder="Prénoms" class="form-control" /></div>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-6">
              <div ><input type="email" id="user_email" name="user[email]" required="required" placeholder="Email" class="form-control" /></div>
            </div>
            <div class="col col-lg-6">
              <div ><input type="text" id="user_username" name="user[username]" required="required" placeholder="Identifiant" class="form-control" /></div>
            </div>
          </div>
          <div ><input type="password" id="user_plainPassword_first" name="user[plainPassword][first]" required="required" placeholder="Mot de passe" class="form-control" /></div>    <div ><input type="password" id="user_plainPassword_second" name="user[plainPassword][second]" required="required" placeholder="Saisir à nouveau" class="form-control" /></div>
          <input type="hidden" id="user__token" name="user[_token]" value="n9QjlyCSZBUmRWTr0-SlTx6FrUF-hKyZUKCTJjKKHoU" />
          <input type="submit"  class="btn btn-primary " value="Soumettre">
        </form>


        <div class="clearfix"></div>

        <div class="separator">
          <p class="change_link">Déjà membre ?
            <a href="#signin" class="to_register" id="title_login"> S'identifier </a>
          </p>

          <div class="clearfix"></div>
          <br />

          <div>
            <h1><img src="{{ asset('images/inetschools.jpg') }}" width="40" height="40"/> Antarus!</h1>
            <p>©2018 All Rights Reserved. Antarus</p>
          </div>
        </div>
        </form>
      </section>
    </div>
  </div>
</div>
</body>
</html>

<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
<script>
    sessionStorage.removeItem('messageid');
    $(function(){
        $("#submit").on('click',function(e){
            e.preventDefault();
            $("#login_form").submit();
        })

        $("#submit_register").on('click',function(e){
            e.preventDefault();
            $("#register_form").submit();
        })
    });


    $('#preloader').height($(window).height() + "px");
    $(window).on('load', function(){
        setTimeout(function(){
            $('body').css("overflow-y","visible");
            $('#preloader').fadeOut(400);
        }, 800);
    });


</script>
</body>
</html>
