{% extends '@App/user_base.html.twig' %}

    {% block title %} {{ parent() }} Bienvenue {% endblock %}
  {% block main %}
    <h1>Memos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memo in memos %}
            <tr>
                <td><a href="{{ path('memo_show', { 'id': memo.id }) }}">{{ memo.id }}</a></td>
                <td>{{ memo.titre }}</td>
                <td>{{ memo.description }}</td>
                <td>{% if memo.etat %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('memo_show', { 'id': memo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('memo_edit', { 'id': memo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('memo_new') }}">Create a new memo</a>
        </li>
    </ul>
{% endblock %}
